# For copy to clipboard functionality.
pyperclip

# For saving the generated password as a QR Code.
qrcode

# For terminal / shell highlighting.
rich

# Dependency for `qrcode`, not properly installed with `qrcode` on its own.
Pillow